# helloworld

[[alias.helloworld]]
cmd = "echo \"{{ greeting }}, {{ target }}!\""
render_engine = "inja"
template_vars = { greeting = "Hello", target = "World" }

# luacode

[[alias.luacode]]
cmd = """
local t = {}
for str in string.gmatch(TEMPLATE_VARS.values, '([^,]+)') do
    table.insert(t, tonumber(str))
end

local sum = 0
for k,v in pairs(t) do
    sum = sum + v
end

print(tostring(sum))

return 0
"""
execution_engine = "lua"
template_vars = { values = "0" }

# build

[[alias.build]]
cmd = "cmake . --preset default --fresh && cmake --build build/"
constraints = [ [ "osfamily", "unix" ] ]

[[alias.build]]
cmd = "cmake . --preset default --fresh; if ($?) { cmake --build build/; }"
constraints = [ [ "osfamily", "windows" ] ]
env = { 'CC' = 'C:/tools/msys64/clang64/bin/clang.exe', 'CXX' = 'C:/tools/msys64/clang64/bin/clang++.exe' }

[[alias.test]]
cmd = "cmake . --preset testing --fresh && cmake --build build-testing/ && ./build-testing/tests/tests"
constraints = [ [ "osfamily", "unix" ] ]

[[alias.test]]
cmd = "cmake . --preset testing --fresh; if ($?) { cmake --build build-testing/; if ($?) { ./build-testing/tests/tests.exe } }"
constraints = [ [ "osfamily", "windows" ] ]

# path

[[alias.path]]
cmd = "echo $PATH"
constraints = [ [ "osfamily", "unix" ] ]

[[alias.path]]
cmd = "echo $Env:Path"
constraints = [ [ "osfamily", "windows" ] ]

# install

[[alias.install]]
cmd = "sudo rm -f /usr/local/bin/xx && sudo cp build/xx/xx /usr/local/bin/xx"
constraints = [ [ "osfamily", "unix" ] ]
requires_confirmation = true

[[alias.install]]
cmd = "Copy-Item -Path build/xx/xx.exe -Destination C:/tools/xx-cli/xx.exe -Force"
constraints = [ [ "osfamily", "windows" ] ]
requires_confirmation = true

# TUI apps

[[alias.htop]]
cmd = "htop"
constraints = [ [ "osfamily", "unix" ] ]

[[alias.ntop]]
cmd = "ntop"
constraints = [ [ "osfamily", "windows" ] ]

[[alias.downloads]]
cmd = "yazi ~/Downloads"
constraints = [ [ "osfamily", "unix" ] ]
