[alias.helloworld]
cmd = "echo 'Hello, World!'"

[alias.build]
cmd = "cmake . -G 'Ninja' --fresh && ninja"

[alias.install]
cmd = "sudo rm -f /usr/local/bin/xx && sudo cp ./xx/xx-cli /usr/local/bin/xx"
constraints = [ [ "osfamily", "unix" ] ]
