[alias.helloworld]
cmd = "echo 'Hello, World!'"

[alias.build]
cmd = "cmake . -G 'Ninja' --fresh && ninja"
constraints = [ [ "osfamily", "unix" ] ]

[alias.build]
cmd = "cmake . -G 'Ninja' --fresh && ninja"
constraints = [ [ "osfamily", "windows" ] ]
env = { 'CC' = 'C:/tools/msys64/clang64/bin/clang.exe', 'CXX' = 'C:/tools/msys64/clang64/bin/clang++.exe' }

[alias.install]
cmd = "sudo rm -f /usr/local/bin/xx && sudo cp ./xx/xx-cli /usr/local/bin/xx"
constraints = [ [ "osfamily", "unix" ] ]
