name: ci
on:
  pull_request:
  push:
    branches:
      - main
      - experimental
    tags:
      - 'v*'
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag. Use existing tag or create new one"
        required: true
        default: ""
      stable:
        description: "Stable release"
        required: false
        default: "false"
      changelog:
        description: "Change log for this release"
        required: false
        default: ""

env:
  BUILD_TYPE: Release
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-latest
          - ubuntu-latest
          - macos-latest
        compiler:
          - llvm-20 # llvm-21 is currently broken on macos: https://github.com/llvm/llvm-project/issues/155531
          - gcc
        include:
          - os: "windows-latest"
            compiler: "msvc"
    steps:
      - uses: actions/checkout@v3

      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ./build/
            ~/.cache/ccache
            ~/.ccache
            ~/.config/ccache
            ~/Library/Caches/ccache
            ${{ env.LOCALAPPDATA }}/ccache
            ${{ env.XDG_CACHE_HOME }}/ccache
          key: ${{ runner.os }}-${{ matrix.compiler }}-${{ env.BUILD_TYPE }}-${{ hashFiles('**/CMakeLists.txt') }}
          restore-keys: |
            ${{ runner.os }}-${{ env.BUILD_TYPE }}-

      - name: Setup Cpp
        uses: aminya/setup-cpp@v1
        with:
          compiler: ${{ matrix.compiler }}
          vcvarsall: true
          cmake: true
          ninja: true

      - name: Configure CMake
        run: |
          cmake -G "Ninja" -B build/ -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }}

      - name: "Build"
        run: |
          cmake --build ./build

      - name: "Upload Build Artifacts [Windows]"
        if: matrix.os == 'windows-latest'
        uses: actions/upload-artifact@v6
        with:
          name: build-${{ matrix.os }}-${{ matrix.compiler }}-${{ env.BUILD_TYPE }}
          path: ./build/xx/xx.exe

      - name: "Upload Build Artifacts [Linux/MacOS]"
        if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest'
        uses: actions/upload-artifact@v6
        with:
          name: build-${{ matrix.os }}-${{ matrix.compiler }}-${{ env.BUILD_TYPE }}
          path: ./build/xx/xx
  release:
    if: github.event_name == 'workflow_dispatch' || github.ref_type == 'tag'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: build
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v5
        with:
          path: ./downloaded-artifacts
          pattern: build-*
          merge-multiple: false
      - name: Rename artifacts
        run: |
          mkdir -p ./artifacts
          for artifact in ./downloaded-artifacts/*; do
            file=$(find "$artifact" -maxdepth 1 -type f)
            filename=$(basename -- "$file")
            extension="${filename##*.}"
            os_compiler_buildtype=$(basename "$artifact")
            os_compiler_buildtype="${os_compiler_buildtype//-/_}"
            if [[ "$extension" == "exe" ]]; then
              mv "$file" "./artifacts/xx-${os_compiler_buildtype}.exe"
            else
              mv "$file" "./artifacts/xx-${os_compiler_buildtype}"
            fi
          done
      - name: Tag the release
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.tag != ''
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          if git rev-parse "${{ github.event.inputs.tag }}" >/dev/null 2>&1; then
            echo "Tag ${{ github.event.inputs.tag }} already exists. Skipping tagging."
          else
            git tag ${{ github.event.inputs.tag }}
            git push origin ${{ github.event.inputs.tag }}
          fi
          git tag ${{ github.event.inputs.tag }}
          git push origin ${{ github.event.inputs.tag }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload Release Assets
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.tag != '' && github.event.inputs.tag || github.ref_name }}
          name: Release ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.tag != '' && github.event.inputs.tag || github.ref_name }}
          body: ${{ github.event.inputs.changelog }}
          draft: false
          prerelease: ${{ github.event.inputs.stable == 'false' && 'true' || 'false' }}
          files: |
            ./artifacts/**
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
