name: ci
on:
  pull_request:
  push:
    branches:
      - main
      - experimental
jobs:
  Test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-2025
          - ubuntu-24.04
          - macos-15
        compiler:
          - llvm-20
          - gcc-14
        include:
          - os: "windows-2025"
            compiler: "msvc"
    steps:
      - uses: actions/checkout@v3

      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ./build/
            ~/.cache/ccache
            ~/.ccache
            ~/.config/ccache
            ~/Library/Caches/ccache
            ${{ env.LOCALAPPDATA }}/ccache
            ${{ env.XDG_CACHE_HOME }}/ccache
          key: ${{ runner.os }}-${{ matrix.compiler }}-${{ env.BUILD_TYPE }}-${{ hashFiles('**/CMakeLists.txt') }}
          restore-keys: |
            ${{ runner.os }}-${{ env.BUILD_TYPE }}-

      - name: Setup Cpp
        uses: aminya/setup-cpp@v1
        with:
          compiler: ${{ matrix.compiler }}
          vcvarsall: true
          cmake: true
          ninja: true

      - name: Configure CMake
        run: |
          cmake -G "Ninja" -B build/ -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }}

      - name: "Build"
        run: |
          cmake --build ./build
