name: release
on:
  push:
    tags:
      - "v*"
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag. Use existing tag or create new one"
        required: true
        default: ""
      stable:
        description: "Stable release"
        required: false
        default: "false"
      changelog:
        description: "Change log for this release"
        required: false
        default: ""

env:
  BUILD_PRESET: "release"
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: "windows-latest"
            compiler: "msvc"
          - os: "windows-11-arm"
            compiler: "msvc"
          - os: "ubuntu-latest"
            compiler: "llvm"
          - os: "ubuntu-24.04-arm"
            compiler: "llvm"
          - os: "macos-latest"
            compiler: "llvm-20" # llvm-21 is currently broken on macos: https://github.com/llvm/llvm-project/issues/155531
    steps:
      - uses: actions/checkout@v3

      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ./build/
            ~/vcpkg
            ~/.cache/vcpkg/archives
            ${{ env.LOCALAPPDATA }}/vcpkg/archives
            ${{ env.APPDATA }}/vcpkg/archives
            ${{ env.XDG_CACHE_HOME }}/vcpkg/archives
            ~/.cache/ccache
            ~/.ccache
            ~/.config/ccache
            ~/Library/Caches/ccache
            ${{ env.LOCALAPPDATA }}/ccache
            ${{ env.XDG_CACHE_HOME }}/ccache
          key: ${{ runner.os }}-${{ matrix.compiler }}-${{ env.BUILD_PRESET }}-${{ hashFiles('**/CMakeLists.txt', './vcpkg.json') }}
          restore-keys: |
            ${{ runner.os }}-${{ env.BUILD_PRESET }}-

      - name: Setup Cpp
        uses: aminya/setup-cpp@v1
        with:
          compiler: ${{ matrix.compiler }}
          vcvarsall: true
          cmake: true
          ninja: true
          vcpkg: true

      - name: Configure CMake
        run: |
          cmake --preset ${{ env.BUILD_PRESET }}

      - name: "Build"
        run: |
          cmake --build ./build

      - name: "Upload Windows x86_64 Build Artifacts"
        if: matrix.os == 'windows-latest'
        uses: actions/upload-artifact@v6
        with:
          name: xx-windows-x86_64-${{ env.BUILD_PRESET }}
          path: ./build/xx/xx.exe

      - name: "Upload Windows ARM Build Artifacts"
        if: matrix.os == 'windows-11-arm'
        uses: actions/upload-artifact@v6
        with:
          name: xx-windows-arm64-${{ env.BUILD_PRESET }}
          path: ./build/xx/xx.exe

      - name: "Upload Linux x86_64 Build Artifacts"
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@v6
        with:
          name: xx-linux-x86_64-${{ env.BUILD_PRESET }}
          path: ./build/xx/xx

      - name: "Upload Linux ARM Build Artifacts"
        if: matrix.os == 'ubuntu-24.04-arm'
        uses: actions/upload-artifact@v6
        with:
          name: xx-linux-arm64-${{ env.BUILD_PRESET }}
          path: ./build/xx/xx

      - name: "Upload macOS ARM Build Artifacts"
        if: matrix.os == 'macos-latest'
        uses: actions/upload-artifact@v6
        with:
          name: xx-macos-arm64-${{ env.BUILD_PRESET }}
          path: ./build/xx/xx
  release:
    if: github.event_name == 'workflow_dispatch' || github.ref_type == 'tag'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: build
    steps:
      - uses: actions/checkout@v3

      - name: Download all artifacts
        uses: actions/download-artifact@v5
        with:
          path: ./artifacts
          pattern: xx-*
          merge-multiple: false

      - name: Move artifacts to the root of the artifacts directory, renaming them to the folder name
        run: |
          mkdir binaries/
          mv ./artifacts/xx-windows-x86_64-${{ env.BUILD_PRESET }}/xx.exe ./binaries/xx-windows-x86_64-${{ env.BUILD_PRESET }}.exe
          mv ./artifacts/xx-windows-arm64-${{ env.BUILD_PRESET }}/xx.exe ./binaries/xx-windows-arm64-${{ env.BUILD_PRESET }}.exe
          mv ./artifacts/xx-linux-x86_64-${{ env.BUILD_PRESET }}/xx ./binaries/xx-linux-x86_64-${{ env.BUILD_PRESET }}
          mv ./artifacts/xx-linux-arm64-${{ env.BUILD_PRESET }}/xx ./binaries/xx-linux-arm64-${{ env.BUILD_PRESET }}
          mv ./artifacts/xx-macos-arm64-${{ env.BUILD_PRESET }}/xx ./binaries/xx-macos-arm64-${{ env.BUILD_PRESET }}

      - name: Tag the release
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.tag != ''
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          if git rev-parse "${{ github.event.inputs.tag }}" >/dev/null 2>&1; then
            echo "Tag ${{ github.event.inputs.tag }} already exists. Skipping tagging."
          else
            git tag ${{ github.event.inputs.tag }}
            git push origin ${{ github.event.inputs.tag }}
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Release Assets
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.tag != '' && github.event.inputs.tag || github.ref_name }}
          name: Release ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.tag != '' && github.event.inputs.tag || github.ref_name }}
          body: ${{ github.event.inputs.changelog }}
          draft: false
          prerelease: ${{ github.event.inputs.stable != 'true' }}
          files: |
            ./binaries/**
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Update homebrew-tap formula
        if: ${{ (github.event_name == 'workflow_dispatch' || github.ref_type == 'tag') && github.event.inputs.stable == 'true' }}
        run: |
          git clone https://x-access-token:${{ secrets.HOMEBREW_TAP_GITHUB_TOKEN }}@github.com/gallardo994/homebrew-tap.git

          TEMPLATE_PATH="./homebrew-tap/FormulaTemplates/xx.rb.template"
          FORMULA_PATH="./homebrew-tap/Formula/xx.rb"

          VERSION="${{ github.event_name == 'workflow_dispatch' && github.event.inputs.tag != '' && github.event.inputs.tag || github.ref_name }}"
          BASE_URL="https://github.com/Gallardo994/xx-cli/releases/download/$VERSION"

          MAC_ARM64_NAME="xx-macos-arm64-${{ env.BUILD_PRESET }}"
          LINUX_X86_64_NAME="xx-linux-x86_64-${{ env.BUILD_PRESET }}"
          LINUX_ARM64_NAME="xx-linux-arm64-${{ env.BUILD_PRESET }}"

          SHA_MAC_ARM64=$(shasum -a 256 ./binaries/$MAC_ARM64_NAME | awk '{ print $1 }')
          SHA_LINUX_X86_64=$(shasum -a 256 ./binaries/$LINUX_X86_64_NAME | awk '{ print $1 }')
          SHA_LINUX_ARM64=$(shasum -a 256 ./binaries/$LINUX_ARM64_NAME | awk '{ print $1 }')

          sed -e "s|__VERSION__|$VERSION|g" \
              -e "s|__BASE_URL__|$BASE_URL|g" \
              -e "s|__FILE_NAME_MAC_ARM64__|$MAC_ARM64_NAME|g" \
              -e "s|__FILE_NAME_LINUX_X86_64__|$LINUX_X86_64_NAME|g" \
              -e "s|__FILE_NAME_LINUX_ARM64__|$LINUX_ARM64_NAME|g" \
              -e "s|__SHA_MAC_ARM64__|$SHA_MAC_ARM64|g" \
              -e "s|__SHA_LINUX_X86_64__|$SHA_LINUX_X86_64|g" \
              -e "s|__SHA_LINUX_ARM64__|$SHA_LINUX_ARM64|g" \
              $TEMPLATE_PATH > $FORMULA_PATH

          cd homebrew-tap
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add Formula/xx.rb
          git commit -m "Update xx formula to $VERSION"
          git push origin main
