name: testing
on:
  pull_request:
  push:
    branches:
      - main
      - experimental
env:
  BUILD_PRESET: "testing"
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-latest
          - ubuntu-latest
          - ubuntu-24.04-arm
        compiler:
          - llvm
          - gcc
        include:
          - os: "windows-latest"
            compiler: "msvc"
          - os: "windows-11-arm"
            compiler: "msvc"
          - os: "macos-latest"
            compiler: "llvm-20" # llvm-21 is currently broken on macos: https://github.com/llvm/llvm-project/issues/155531
          - os: "macos-latest"
            compiler: "gcc"
    steps:
      - uses: actions/checkout@v3

      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ./build/
            ~/vcpkg
            ~/.cache/vcpkg/archives
            ${{ env.LOCALAPPDATA }}/vcpkg/archives
            ${{ env.APPDATA }}/vcpkg/archives
            ${{ env.XDG_CACHE_HOME }}/vcpkg/archives
            ~/.cache/ccache
            ~/.ccache
            ~/.config/ccache
            ~/Library/Caches/ccache
            ${{ env.LOCALAPPDATA }}/ccache
            ${{ env.XDG_CACHE_HOME }}/ccache
          key: ${{ runner.os }}-${{ matrix.compiler }}-${{ env.BUILD_PRESET }}-${{ hashFiles('**/CMakeLists.txt', './vcpkg.json') }}
          restore-keys: |
            ${{ runner.os }}-${{ env.BUILD_PRESET }}-${{ hashFiles('./vcpkg.json') }}

      - name: Setup Cpp
        uses: aminya/setup-cpp@v1
        with:
          compiler: ${{ matrix.compiler }}
          vcvarsall: ${{ contains(matrix.os, 'windows') }}
          cmake: true
          ninja: true
          vcpkg: true

      - name: Configure CMake
        run: |
          cmake --preset ${{ env.BUILD_PRESET }} -DCMAKE_TOOLCHAIN_FILE=./vcpkg/scripts/buildsystems/vcpkg.cmake

      - name: "Build"
        run: |
          cmake --build ./build

      - name: "Run Tests"
        run: |
          ctest --output-on-failure --test-dir ./build/tests
