name: testing
on:
  pull_request:
  push:
    branches:
      - main
      - experimental
env:
  BUILD_PRESET: "testing"
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-latest
          - ubuntu-latest
          - ubuntu-24.04-arm
          - macos-latest
        compiler:
          - llvm-20 # llvm-21 is currently broken on macos: https://github.com/llvm/llvm-project/issues/155531
          - gcc
        include:
          - os: "windows-latest"
            compiler: "msvc"
          - os: "windows-11-arm"
            compiler: "msvc"
    steps:
      - uses: actions/checkout@v3

      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ./build/
            ~/.cache/ccache
            ~/.ccache
            ~/.config/ccache
            ~/Library/Caches/ccache
            ${{ env.LOCALAPPDATA }}/ccache
            ${{ env.XDG_CACHE_HOME }}/ccache
          key: ${{ runner.os }}-${{ matrix.compiler }}-${{ env.BUILD_PRESET }}-${{ hashFiles('**/CMakeLists.txt') }}
          restore-keys: |
            ${{ runner.os }}-${{ env.BUILD_PRESET }}-

      - name: Setup Cpp
        uses: aminya/setup-cpp@v1
        with:
          compiler: ${{ matrix.compiler }}
          vcvarsall: true
          cmake: true
          ninja: true

      - name: Configure CMake
        run: |
          cmake --preset ${{ env.BUILD_PRESET }}

      - name: "Build"
        run: |
          cmake --build ./build

      - name: "Upload Build Artifacts [Windows]"
        if: matrix.os == 'windows-latest' || matrix.os == 'windows-11-arm'
        uses: actions/upload-artifact@v6
        with:
          name: build-${{ matrix.os }}-${{ matrix.compiler }}-${{ env.BUILD_PRESET }}
          path: ./build/xx/xx.exe

      - name: "Upload Build Artifacts [Linux/MacOS]"
        if: matrix.os == 'ubuntu-latest' || matrix.os == 'ubuntu-24.04-arm' || matrix.os == 'macos-latest'
        uses: actions/upload-artifact@v6
        with:
          name: build-${{ matrix.os }}-${{ matrix.compiler }}-${{ env.BUILD_PRESET }}
          path: ./build/xx/xx

      - name: "Run Tests"
        run: |
          ctest --output-on-failure --test-dir ./build/tests
